@using Forumists4.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity

@model Comments


@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Post Details</h1>
@{

   Posts post = ViewData["Post"] as Posts;
   IEnumerable<Comments> comments = ViewData["Comments"] as IEnumerable<Comments>;
   var currentuser=UserManager.GetUserAsync(User).Result;
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => post.Title)
        </dt>
        <dd class = "col-sm-10 tex">
            @Html.DisplayFor(model => post.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => post.Content)
        </dt>
        <dd class = "col-sm-10 text-break">
            @Html.DisplayFor(model => post.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => post.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => post.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => post.Creator.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => post.Creator.Email)
        </dd>
    </dl>
</div>
<div>@*
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
      <div class="card-body p-4">
        <div class="form-outline mb-4 text-center">
                    @using (Html.BeginForm("Comment", "UserAllPosts", new {area="User"}, FormMethod.Post))
                    { 
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(e => post.Id)
                        @*@Html.HiddenFor(e => post.Id)*@
                        @Html.HiddenFor(e => currentuser)
                        <div class="form-group">
                        <label class="control-label text-dark">Comment: </label>
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger"></span>
            </div>
                        
                       <input type="submit" value="Comment" class="btn btn-primary mt-5"/>
                    }
          
        </div>
        @if (comments != null)
        {
            @foreach (var comment in comments)
                {
                    <div class="card mb-4">
          <div class="card-body">
            <p>@comment.Content</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <p class="small bold mb-0 ms-2">Email: @comment.Creator.Email</p>
              </div>
              <div class="d-flex flex-row align-items-center">
               @* <p class="small text-muted mb-0">Upvote?</p>
                <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                <p class="small text-muted mb-0">3</p>*@

              </div>
            </div>
          </div>
        </div>
                }
        }
        
        

        

        

        
      </div>
    </div>
  </div>
</div>